<div
  class="announcement"
  {% if section.settings.show_announcement %}
  style="
    --bg-color: {{ section.settings.bg_color }};
    --padding: {{ section.settings.padding }}px;
    --text-color:{{ section.settings.text_color }};
  "
  {% endif %}>
  <div class="container">
    <p style="
    --text-align:{{ section.settings.alignment }}
    ">
      {% if section.settings.show_announcement %}
        {{ section.settings.message }}
      {% endif %}
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "message",
        "label": "Announcement Text",
        "default": "25% OFF for US based delivery"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show Announcement Bar",
        "default": false
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
      }, {
        "type": "range",
        "id": "padding",
        "min": 5,
        "max": 30,
        "step": 1,
        "label": "Padding",
        "unit": "px",
        "default": 5
      }, {
        "type": "select",
        "id": "alignment",
        "label": "Text Align",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }
    ]
  }
{% endschema %}